{
  "semi": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.graphql",
      "options": {
        "printWidth": 190
      }
    }
  ]
}
